<div class="container  border-bottom">
  <div class='row'>
    <div class="col-9">
     <div class="text-secondary">
       <h3>{{job['title']}}</h3>
     </div>
     <div >
         <div  >
          <div class=' pb-0 custom-p'>
           <p>Location: {{job['location']}}</p>
          </div>
      
          <div  class='pb-0 custom-p'>
            <p>salary: {{job['salary']}}</p>
          </div>
        </div>
       </div>
    </div>
  <div class=' col-3 pb-1'>
    <button type="button" class="btn btn-outline-primary">Primary</button>
  </div>
    
  </div>
 </div>